
<div id="recipes-page">
    <div id="recipe-creation-form" class="tv">
        <app-recipeform *ngIf="isCreateRecipe" (refreshRecipesAfterSubmit)="refreshRecipes()"></app-recipeform>
        <!-- <app-setrecipeform *ngIf="!isCreateRecipe" [recipeToSet]="recipeToSet" (deletedRecipe)="refreshRecipes()" (toggleMaVar)=" isCreateRecipe = !isCreateRecipe"></app-setrecipeform> -->
        <app-setrecipeform></app-setrecipeform>

    </div>
    <div id="existing-recipes" class="tv">
        <div>
            <h3>Your recipes</h3>
        </div>
        <button *ngFor="let recipe of recipesList" class="slide_from_left" (click)="onRecipeButtonClick(recipe)">{{recipe.name}}</button>
    </div>
    <div style="overflow: auto;"></div>
</div>
