
<div id="recipes-page">
    <div id="recipe-creation-form" class="tv">
        <app-recipeform *ngIf="isCreatingRecipe" (refreshRecipesAfterSubmit)="refreshRecipes()" [restaurantId]="restaurantId"></app-recipeform>
        <!-- <app-setrecipeform *ngIf="!isCreateRecipe" [recipeToSet]="recipeToSet" (deletedRecipe)="refreshRecipes()" (toggleMaVar)=" isCreateRecipe = !isCreateRecipe"></app-setrecipeform> -->

        <app-setrecipeform *ngIf="!isCreatingRecipe" [recipeToSet]="recipeToSet" (deletedRecipe)="refreshRecipes()" [restaurantId]="restaurantId" (toggleCreateRecipe)="toggleRecipe()"></app-setrecipeform>

    </div>
    <div id="existing-recipes" class="tv">
        <div class="inline-block">
            <div>
                <h3>Your recipes</h3>
            </div>
            <div [className]="isChargingRecipe ? 'item' : 'display-none'">
                <i class="loader"></i>
            </div>
            <div [className]="isChargingRecipe ? 'display-none' : '' ">
                <button *ngFor="let recipe of restaurantRecipes" class="slide_from_left" (click)="onRecipeButtonClick(recipe)">{{recipe.name}}</button>
            </div>
        </div>
    </div>
    <div style="overflow: auto;"></div>
</div>
