
<div id="recipes-page">
    <div id="recipe-creation-form" class="tv">
        <app-recipeform *ngIf="isCreatingRecipe" (refreshRecipesAfterSubmit)="refreshRecipes()" [restaurantId]="fakeRestaurantId"></app-recipeform>
        <!-- <app-setrecipeform *ngIf="!isCreateRecipe" [recipeToSet]="recipeToSet" (deletedRecipe)="refreshRecipes()" (toggleMaVar)=" isCreateRecipe = !isCreateRecipe"></app-setrecipeform> -->
        
        <app-setrecipeform *ngIf="!isCreatingRecipe"></app-setrecipeform>

    </div>
    <div id="existing-recipes" class="tv">
        <div>
            <h3>Your recipes</h3>
        </div>
        <button *ngFor="let recipe of restaurantRecipes" class="slide_from_left" (click)="onRecipeButtonClick(recipe)">{{recipe.name}}</button>
    </div>
    <div style="overflow: auto;"></div>
</div>
