


<div class="table-page">
  <div id="container">
    <app-tableform *ngIf="isCreatingTable" (refreshTablesAfterSubmit)="showTables()" [restaurantId]="fakeRestaurantId" ></app-tableform>
    <div id="table-row">
      <div class="title">Tables List</div>
      <div id="table-bloc">
        <div class="table"*ngFor = "let table of restaurantTables">{{table.name}}: {{table.capacity}} places</div>
      </div>
    </div>
  </div>

</div>



 <div class="bookings">
  <app-select-booking (onDateSelection)="onDateSelected($event)"></app-select-booking>
  <p>Booking</p>
  <table>
    <thead>
      <tr>
        <th >
          table
        </th>
        <th >
          Date
        </th>
        <th >
          Hour
        </th>
      </tr>
    </thead>
    <tbody  >
      <tr *ngFor = "let booking of todaysBookings" >
        <td >
          {{booking.table.name}}
        </td>
        <td >
          {{booking.day.substring(0,10)}}
        </td>
        <td >
          {{booking.hour}}
        </td>
        <td class="ordered-style" [ngStyle]="{'background-color':booking.Ordered=== 'true' ? 'green' : 'red'}">
          <span *ngIf="booking.Ordered==true">ordered</span>
         <app-order-status ></app-order-status>
          <span *ngIf="booking.served===false">Not Ordered</span>
          <button></button>
        </td>

      </tr>
    </tbody>
  </table>
  </div>



