


<div class="table-page">
  <div id="container">
    <app-tableform *ngIf="isCreatingTable" (refreshTablesAfterSubmit)="showTables()" [restaurantId]="fakeRestaurantId" ></app-tableform>
    <div id="table-row">
      <div class="title">Tables List</div>
      <div id="table-bloc">
        <div class="table"*ngFor = "let table of restaurantTables">{{table.name}}: {{table.capacity}} places</div>
      </div>
    </div>
  </div>
  
</div>

 <div>
  <p>Booking</p>
  <table>
    <thead>
      <tr>
        <th >
          table
        </th>
        <th >
          Day
        </th>
        <th >
          Hour
        </th>
      </tr>
    </thead>
    <tbody *ngFor="let table of tablesBooking">
      <tr  *ngFor="let booking of table">
        <td >
          {{booking.table.name}}
        </td>
        <td >
          {{booking.day}}
        </td>
        <td >
         {{booking.hour}}
        </td>
      </tr>
    </tbody>
  </table>
 </div>
 


