:host {
  display: grid;
  grid-template: 1fr / 1fr 1fr;
  grid-template-areas: "tables bookings";
  height: 100%;
  gap: 0 .5em;
}

.table-page {
  grid-area: tables;
}


app-tableform {
  grid-area: form;
}


.bookings {
  grid-area: bookings;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
  overflow-y: auto;
}

#table-row{
  grid-area: list;
  margin-top: 30px;
  margin-left: 100px;
  width: 250px;
  text-align: center;
  overflow-y: auto;
}

#name{
    margin-right: 19px;
}


.table{
    margin-top: 5px;
    margin-bottom: 5px;
    height: 20px;
    border: solid;
    border-width: 0.5px;

}

#container{
    display: grid;
    grid-template: 250px 1fr / 1fr;
    gap: 0 .5em;
    grid-template-areas: "form"
    "list";
    height: 100%;
}


.title{
    font-size: 25px;
}

table {
  border-collapse:collapse;
  width:90%;
  overflow-y: scroll;
  }
 th, td {
  border:1px solid black;
  width:20%;
  }
 td {
  text-align:center;
  }

  .ordered-style{
    width: 5%;
  }





