:host {
  display: grid;
  grid-template: 1fr / 1fr 1fr;
  grid-template-areas: "tables bookings";
  height: 100%;
  gap: 0 .5em;
}

#container{
  display: grid;
  grid-template: 40% 1fr / 1fr;
  gap: 0 .5em;
  grid-template-areas: "form"
  "list";
  height: 100%;
}

@media all and (max-width: 780px) {
  :host {
    display: block;
  }
  #container {
    display: block;
  }
}

.table-page {
  grid-area: tables;
}


app-tableform {
  grid-area: form;
}


.bookings {
  grid-area: bookings;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  /* justify-content: flex-start; */
  overflow-y: auto;
  padding-left: 10px;
}

#table{
  grid-area: list;
  text-align: center;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

#name{
    margin-right: 19px;
}

.table-row{
    margin-bottom: 3px;
    height: 20px;
    border-bottom: 0.5px solid rgba(var(--grey-border), 1);
    border-width: 0.5px;
    width: 45%;
    margin-right: auto;
    margin-left: auto;
}



table {
  border-collapse:collapse;
  width:90%;
  overflow-y: scroll;
  }

th, td {
  border-bottom: 1px solid rgba(var(--grey-border), 1);
  width:25%;
}

td {
  text-align:center;
}

/* thead {

} */

.ordered-style{
    width: 5%;
}

h3 {
    text-align: left;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

#table-bloc {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}




