
    <!-- <div *ngFor="let item of menuClient">
      <a (click)="subView(item.name)">
        <div>
          {{item.content}}
        </div>
      </a>
    </div> -->



<div *ngIf="showView === 'Client'" class="dropbtn">
  <div class="dropdown">
    <div class="dropdown-content">
      <a *ngFor="let item of menuClient" (click)="subView(item.name)">{{item.content}}</a>
    </div>
  </div>
</div>


<div *ngIf="showView === 'Admin'" class="dropbtn">
  <div class="dropdown">
    <div class="dropdown-content">
      <a *ngFor="let item of menuAdmin" (click)="subView(item.name)">{{item.content}}</a>
    </div>
  </div>
</div>



<div *ngIf="showView === 'Manager'" class="dropbtn">
  <div class="dropdown">
    <div class="dropdown-content">
      <a *ngFor="let item of menuManager" (click)="subView(item.name)">{{item.content}}</a>
    </div>
  </div>
</div>
