<nav id="nav-menu">

  <div *ngFor="let clientRole of clientRoles" (click)="clickedTab.emit(clientRole.name)" id="view-selection-nav" class="nav-button">
    <p>{{clientRole.name}}</p>
  </div>
  <!-- below :same as above but when clicked write selected role in console -->
  <!-- <div *ngFor="let clientRole of clientRoles" (click)="writeInConsole(clientRole.name)" id="view-selection-nav" class="nav-button">
    <p>{{clientRole.name}}</p>
  </div> -->

  <button (click)="logout()" class="logout-button">Logout</button>

</nav>
