#content {
width: 80%;
display: inline-block;
text-align: center;
}

#container {
  width: 100%;
  display: inline-block;
  text-align: center;
}

.form-group {
  display: flex;
  flex-flow: column nowrap;
}

.form-group > input {
  min-width: 60%;
  max-width: 80%;
  margin: .5em 0 1em 0;
}

label {
  margin: 0;
}


