<h3 *ngIf='!restaurant.name; else seeTable' class="init"></h3>
<ng-template #seeTable class="reservation">
  <div *ngIf="formToggled; else untoggleForm" class="flex-box">
    <h3>{{restaurant.name}}</h3>
    <button (click)="toggleReservationForm($event)">Reservation</button>
  </div>
</ng-template>

<ng-template #untoggleForm>
  <!-- <div class="flex-box">
    <button (click)="toggleReservationForm($event)">Back To List</button>
  </div> -->

    <button (click)="toggleReservationForm($event)">Back To List</button>

</ng-template>
