<h2>{{user.firstName}} {{user.lastName}}</h2>
<div *ngIf="!booking.ordered; else bookingSummary">
  <h3>Ordered items</h3>
  <div *ngFor="let item of bill" class="order-item">
    <p class="name"><b>{{item.item.name}}:</b></p>
    <p class="billing">
      ({{item.quantity}}) = {{item.item.sellingPrice * item.quantity}} &euro;
    </p>
  </div>
  <div>
    <p>Total: {{orderTotal}} &euro;</p>
  </div>
</div>
<ng-template #bookingSummary>
  <div *ngFor="let item of booking.orders" class="order-item">
    <p class="name"><b>{{item.item.name}}:</b></p>
    <p class="billing">
      ({{item.quantity}}) = {{item.item.sellingPrice * item.quantity}} &euro;
    </p>
  </div>
  <div>
    <p>Total: {{orderTotal}} &euro;</p>
  </div>
</ng-template>

<div *ngIf="orderTotal > 0; else makeOrder">
  <button *ngIf="!booking.ordered; else greyButton" (click)="sendOrderToKitchen()">Send order</button>
  <ng-template #greyButton>
    <button disabled>Order sent</button>
  </ng-template>
</div>

<ng-template #makeOrder>
  <button disabled>Please Order Something</button>
</ng-template>
