.chooseForm {
    width: 100%;
    display: inline-block;
    text-align: center;
   
}

form {
    width: 35%;
    margin: auto;
    /* text-align: center; */
}

form button {
    width: auto;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
}

.center {
    text-align: center;
}


.checkbox {
    display: inline-block;
    height: 25px;
    width: 100%;
    text-align: left;
}

input[type=checkbox] {
    width: 8%;
    display: inline-block;
}

label {
    display: inline-block;
    width: 20%;
}

.big-button {
    font-size: 1.7em;
    padding: 0.6em 1.2em;
    margin-top: 15%;
    margin-right: 30px;

}
