<div *ngIf="!modes.edition && !modes.creation" class="chooseForm">
  <button (click)="ToggleCreate()">CREATE</button>
  <button *ngIf="usersExist" (click)="ToggleEdit()">EDIT</button>
</div>

<div *ngIf="modes.edition || modes.creation" class="logForm">
  {{modes.selectedMode}}
  <!-- List of existing users -->
  <div *ngIf="modes.edition" class="employee-list">
    <div *ngFor="let user of availableUsers">
      <label>{{user.firstName}} {{user.lastName}}</label>
      <button (click)="userSelection($event)" [value]="user.id">Select</button>
    </div>
  </div>
  <form *ngIf="isSelectedUser" [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div class="formGroup">
      <label>First name: </label>
      <input name="firstName" formControlName="firstName">
    </div>
    <div class="formGroup">
      <label>Last name: </label>
      <input name="lastName" formControlName="lastName">
    </div>
    <div *ngIf="modes.creation" class="formGroup">
      <label>Password: </label>
      <input name="lastName" formControlName="password">
    </div>
    <div class="formGroup">
      <label>email: </label>
      <input name="lastName" formControlName="email">
    </div>
    <!-- form Roles -->
    <div class="formGroup">
      <input type="checkbox" id="cook" [checked]="userRolesChecked.Cook" formControlName="Cook">
      <label for="cook">Cook</label>
    </div>
    <div class="formGroup">
      <input type="checkbox" id="waiter" [checked]="userRolesChecked.Waiter" formControlName="Waiter">
      <label for="waiter">Waiter </label>
    </div>
    <div *ngIf="currentView === 'Admin'">
      <div class="formGroup">
        <input type="checkbox" id="admin" [checked]="userRolesChecked.Admin" formControlName="Admin">
        <label for="admin">Admin </label>
      </div>
      <div class="formGroup">
        <input type="checkbox" id="manager" [checked]="userRolesChecked.Manager" formControlName="Manager">
        <label for="manager">Manager </label>
      </div>
      <div class="formGroup">
        <input type="checkbox" id="cleaner" [checked]="userRolesChecked.Cleaner" formControlName="Cleaner">
        <label for="cleaner">Cleaner </label>
      </div>
    </div>
    <!-- Buttons -->
    <button type="submit" *ngIf="modes.creation">Confirm Creation</button>
    <div *ngIf="modes.edition && !modes.deletionConfirmation">
      <button type="submit">Update</button>
    </div>
  </form>

  <!-- Buttons -->
  <button *ngIf="!modes.deletionConfirmation" (click)="cancelEdition()">Cancel</button>
  <div *ngIf="isSelectedUser && modes.edition">
    <button (click)="userDeletionMode()">Delete account</button>
    <div *ngIf="modes.deletionConfirmation">
      <label>Confirm ?</label>
      <button (click)="onDeletionConfirmation($event)" value="confirmDeletion">Delete</button>
      <button (click)="onDeletionConfirmation($event)" value="cancelDeletion">Cancel</button>
    </div>
  </div>
</div>
