:host {
  display: grid;
  grid-template: 70px 1fr /1fr 1fr;
  grid-template-areas: "titleIngredient titleStock"
  "ingredients stocks";
  height: calc(100vh - 3em);
  width: 100%;
  align-items: center;
 
}

.titleStock {
  grid-area: titleStock;
  text-align: center;
}

.titleIngredient {
  grid-area: titleIngredient;
  text-align: center;
}

.stocks {
  grid-area: stocks;
  display: flex;
  flex-flow: column nowrap;
  padding: 1em 2em;
  height: 100%;
  width: auto;
  align-items: center;
  overflow-y: auto;
}

.ingredients {
  grid-area: ingredients;
  display: flex;
  flex-flow: column nowrap;
  padding: 1em 2em;
  height: 100%;
  width: auto;
  align-items: center;
  overflow-y: auto;
  padding-bottom: 0;
}

.stock-card {
  display: grid;
  height: 50px;
  grid-template: 1fr / 33.33% 33.33% 33.33%;
  grid-template-areas: "name quantity purchasePrice";
  align-items: flex-start;
  justify-content: flex-start;
  width: 80%;
  max-width: 350px;
  border-bottom: 1px solid black;
  margin: .2em;
}

.ingredient-card {
  display: grid;
  height: 50px;
  grid-template: 1fr / 45% 25% 30%;
  grid-template-areas: "name price buy";
  align-items: flex-start;
  justify-content: flex-start;
  width: 80%;
  max-width: 350px;
  border-bottom: 1px solid black;
  margin: .2em;
}

.name {
  grid-area: name;
  padding-left: .3em;
}

.buy {
  grid-area:buy;
  font-size: 0.8em;
  font-weight: 500;
  height: auto;
  margin: auto;
  background-color: rgba(var(--vivid-blue),1);
}

.purchase-price {
  grid-area: purchasePrice;
  text-align: end;
}

label {
  color: rgba(var(--manager-blue-label), 1)
}

.quantity {
  text-align: center;
}

#content {
  margin: auto;
  width: 80%;
  height: 180px;
  padding-top: 20px;
}

#content label {
  margin : 0;
}