:host {
  display: grid;
  grid-template: 80px 1fr /1fr 1fr;
  grid-template-areas: "titleIngredient titleStock"
  "ingredients stocks";
  height: calc(100vh - .5em);
  width: 100%;
  align-items: center;
}

.titleStock {
  grid-area: titleStock;
  text-align: center;
}

.titleIngredient {
  grid-area: titleIngredient;
  text-align: center;
}

.stocks {
  grid-area: stocks;
  display: flex;
  flex-flow: column nowrap;
  padding: 1em 2em;
  height: 100%;
  width: auto;
  align-items: center;
  overflow-y: auto;
}

.ingredients {
  grid-area: ingredients;
  display: flex;
  flex-flow: column nowrap;
  padding: 1em 2em;
  height: 100%;
  width: auto;
  align-items: center;
  overflow-y: auto;
}

.stock-card {
  display: grid;
  height: 50px;
  grid-template: 1fr / 45% 25% 30%;
  grid-template-areas: "name quantity purchasePrice";
  align-items: flex-start;
  justify-content: flex-start;
  width: 60%;
  max-width: 350px;
  border: 1px solid black;
  margin: .2em;
}

.ingredient-card {
  display: grid;
  height: 50px;
  grid-template: 1fr / 45% 25% 30%;
  grid-template-areas: "name price buy";
  align-items: flex-start;
  justify-content: flex-start;
  width: 60%;
  max-width: 350px;
  border: 1px solid black;
  margin: .2em;
}

.name {
  grid-area: name;
  padding-left: .3em;
}

.buy {
  grid-area:buy;
  margin-top: 1.2em;
}

.purchase-price {
  grid-area: purchasePrice;
}
