:host > form {
  display: flex;
  flex-flow: column nowrap;
}

:host > form > select {
  width: 42%;
}

:host > form > button {
  width: 15%
}

input {
  color: #333;
  width: 50%;
  margin: .2em 0 .5em 0;
  border-radius: 5px;
  border-width: 0.1px;
  height: 20px;
  font-size: 1em;
  padding: 0.8em 1.5em;
}
