:host > * {
  margin: 0;
  padding: 0;
}

.restaurant-card-grid {
  width: 90%;
  display: grid;
  grid-template: 40px 40px 70px / 65% 35%;
  align-items: center;
  grid-template-areas: "title button-menu"
  "stars stars"
  "address address";
  border-bottom: 1px solid black;
}

.restaurant-card-grid > h3 {
  grid-area: title;
}

.restaurant-card-grid > p {
  grid-area: stars
}

.restaurant-card-grid > span {
  grid-area: address;
  align-self: flex-start;
}

.restaurant-card-grid > button {
  grid-area: button-menu;
}

button {
  margin: 0;
  margin-top: 10px;
}

@media all and (max-width: 680px) {
  .restaurant-card-grid {
    margin: 1em;
    grid-template: 40px 40px 40px / 65% 35%;
    grid-template-areas:
        "title button-menu"
        "stars stars"
        "address address";
  }
}