<h2>Reservation</h2>
<app-date-selector (onDateSelection)="dateSelected($event)"></app-date-selector>
<div *ngIf="reservationDate.day">
  <form *ngIf="maxPlaces; else noPlaces " [formGroup]="form" (ngSubmit)="placeReservation()">
    <div>
      <label>Number of Persons</label>
      <select formControlName="numberOfClients" (change)="onChangeClients($event)">
        <option *ngFor="let item of [].constructor(maxPlaces > user.friends.length ? user.friends.length + 1 : maxPlaces); let i = index;">{{i + 1}}</option>
      </select>
    </div>
    <div *ngFor="let client of c.controls; let i = index">
      <div>
        <h5>Client {{i + 1}}</h5>
        <div [formGroup]="client">
          <label>Name</label>
          <app-client-selector [clients]="clients" formControlName="name" (clientSelected)="clientSelected($event, i)"></app-client-selector>
        </div>
      </div>
    </div>
    <button>Place reservation</button>
  </form>
  <ng-template #noPlaces>
    <p>Sorry, no place available at this day / time.</p>
  </ng-template>
</div>


