<div *ngIf="logged; else notLogged" class="logged-view">
  <app-side-navigation-menu [user]="user" [showView]="showView" (clickedTab)="selectedView($event)"
    (onSubViewSelection)="updateSubView($event)" (onLogOut)="changeLogStatus($event)" class="menu">
  </app-side-navigation-menu>

  <div *ngIf="showView === 'Default'">
    <h1>O'restO</h1>
  </div>
  <app-admin-view *ngIf="showView === 'Admin'" [showSubView]="showSubView" [loggedUser]="user" [availableRoles]="availableRoles" class="view"></app-admin-view>
  <app-manager-view *ngIf="showView === 'Manager'" [showSubView]="showSubView" [loggedUser]="user" [user]="user" [availableRoles]="availableRoles" class="view"></app-manager-view>
  <app-cook-view *ngIf="showView === 'Cook'" class="view" [user]="user"></app-cook-view>
  <app-waiter-view *ngIf="showView === 'Waiter'" [user]="user" class="view"></app-waiter-view>
  <app-client-view *ngIf="showView === 'Client'" [showSubView]="showSubView" [user]="user" (onUserRefresh)="refreshUser()" class="view"></app-client-view>
  <app-cleaner-view *ngIf="showView === 'Cleaner'"></app-cleaner-view>
</div>

<ng-template #notLogged>
  <app-guest-view (onLogIn)="changeLogStatus($event)"></app-guest-view>
</ng-template>


