<app-side-navigation-menu [clientRoles]="clientRoles" [showView]="showView" (clickedTab)="selectedView($event)" (onSubViewSelection)="updateSubView($event)" class="menu">

</app-side-navigation-menu>

  <app-admin-view *ngIf="showView === 'Admin'" class="view"></app-admin-view>
  <app-manager-view *ngIf="showView === 'Manager'" class="view"></app-manager-view>
  <app-cook-view *ngIf="showView === 'Cook'" class="view"></app-cook-view>
  <app-waiter-view *ngIf="showView === 'Waiter'" class="view"></app-waiter-view>
  <app-client-view *ngIf="showView === 'Client'" [showSubView]="showSubView" class="view"></app-client-view>

<router-outlet></router-outlet>
