.logged-view {
  display: grid;
  grid-template: 1fr / 100px 1fr;
  grid-template-areas: "menu view";
  gap: 0 2em;
  height: calc(100vh - .5em);
  width: 100vw;
}

.menu {
  grid-area: menu;
  width: 100%;
  height: calc(100vh - .5em);
  display: grid;
  grid-template: 75% 25% / 1fr;
  grid-template-areas: "menu"
  "logout";
}

.view {
  grid-area: view;
  width: 100%;
  height: calc(100vh - .5em);
}
