<div *ngIf="!modes.edition && !modes.creation" class="chooseForm">
  <div *ngIf="isChargingReastaurant">
    <i class="loader"></i>
</div>
  <div *ngIf="!isChargingReastaurant">
    <button *ngIf="isRestaurantEmployees" (click)="ToggleEdit()">EDITION</button>
    <button (click)="ToggleCreate()">CREATION</button>
  </div>

</div>
<div *ngIf="modes.edition || modes.creation" class="logForm">
  {{modes.selectedMode}}
  <app-employees-list *ngIf="modes.edition" [managerRestaurant]="managerRestaurant" (onEmployeeSelection)="employeeSelection($event)"></app-employees-list>
  <div >
    <form *ngIf="isSelectedEmployee" [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="formGroup">
        <label>First name: </label>
        <input name="firstName" formControlName="firstName">
      </div>
      <div class="formGroup">
        <label>Last name: </label>
        <input name="lastName" formControlName="lastName">
      </div>
      <div *ngIf="modes.creation" class="formGroup">
        <label>Password: </label>
        <input name="lastName" formControlName="password">
      </div>
      <div class="formGroup">
        <label>email: </label>
        <input name="lastName" formControlName="email">
      </div>
      <div class="formGroup">
        <label for="cook">Cook</label>
        <input type="checkbox" id="cook" [checked]="userRolesChecked.Cook" formControlName="Cook">
      </div>
      <div class="formGroup">
        <label for="waiter">Waiter </label>
        <input type="checkbox" id="waiter" [checked]="userRolesChecked.Waiter" formControlName="Waiter">
      </div>

      <button type="submit" *ngIf="modes.creation">Confirm Creation</button>
      <div *ngIf="modes.edition && !modes.deletionConfirmation">
        <button type="submit">Update</button>
      </div>
    </form>
    <button *ngIf="!modes.deletionConfirmation" (click)="cancelEdition()">Cancel</button>
    <div *ngIf="isSelectedEmployee && modes.edition">
      <button (click)="employeeDeletionMode()">Delete account</button>
      <div *ngIf="modes.deletionConfirmation">
        <label>Confirm ?</label>
        <button (click)="onDeletionConfirmation($event)" value="confirmDeletion">Delete</button>
        <button (click)="onDeletionConfirmation($event)" value='cancelDeletion'>Cancel</button>
      </div>
    </div>
  </div>
</div>
