<p>
  employees-form works!
</p>

<form  id="main-frame" action="" [formGroup]="form" >

  <div >
    <label>name</label>
    <input [formControlName]="name" [value]="employee.name">
  </div>
  <div >
    <label>roles</label>
    <input *ngFor="let role of employee.roles" [formControlName]="role" [value]="employee.role" >
  </div>

  <button (click)="saveEmployee()">
    Save
  </button>

  <button (click)="cancelEdition()">
    Cancel
  </button>

  <!-- <button *ngIf="agent.id" type="button" (click)="deleteAgent()">
    Delete
  </button> -->

</form>
