<div *ngIf="showSubView === 'restaurants'" class="restaurant-view">
  <app-restaurants-list [restaurants]="allRestaurants" (onRestaurantSelection)="selectRestaurant($event)"></app-restaurants-list>
  <button (click)="triggerRestaurantCreation()">New Restaurant</button>
  <div *ngIf="creationMode">
    <app-restaurant-form [restaurant]="triggerCreate"></app-restaurant-form>
  </div>

  <div *ngIf="isRestaurantSelected">
    <app-horizontal-menu (onItemSelection)="selectMenuItem($event)"></app-horizontal-menu>

    <div *ngIf="menuItem === 'restaurantEdition'">
      <h3>{{selectedRestaurant.name}}</h3>
      <app-restaurant-form [restaurant]="selectedRestaurant"></app-restaurant-form>
      <app-employees-form [restaurant]="selectedRestaurant"></app-employees-form>
    </div>
    <div *ngIf="menuItem === 'graphics'">
      <app-sales-graph [restaurant]="selectedRestaurant"></app-sales-graph>
    </div>
    <div *ngIf="menuItem === 'popularity'">
      <p>Popularité & détail des votes</p>
    </div>
    <div *ngIf="menuItem === 'recipes'">
      <p>recettes : gain/perte</p>
    </div>
  </div>
</div>

<div *ngIf="showSubView === 'users'" class="users-view">
  <p>Edit Users</p>
  <app-users-form [availableRoles]="availableRoles" [currentView]="currentView" [loggedUser]="loggedUser"></app-users-form>
</div>

<div *ngIf="showSubView === 'simulations'" class="simulations-view">
  <p>Simulations view</p>
</div>

<div *ngIf="showSubView === 'ingredients'" class="ingredients-view">
  <app-ingredients-form [ingredients]="ingredients" (refreshIngredientSubmited)="refreshIngredientSubmited" ></app-ingredients-form>
</div>
