<div *ngIf="showSubView === 'restaurants'" class="restaurant-view">
  <h2 class="custom-title">Restaurants</h2>
  <div *ngIf="isLoading; else restauList">
    <i class="loader"></i>
  </div>
  <ng-template #restauList> 
    <app-restaurants-list  [restaurants]="allRestaurants" (onRestaurantSelection)="selectRestaurant($event)"></app-restaurants-list>
  </ng-template>
  <button *ngIf="!creationMode" (click)="toggleRestaurantCreation()">New Restaurant</button>
  <div *ngIf="creationMode">
    <button (click)="cancelRestaurantCreation()">Cancel</button>
    <app-restaurant-form [triggerCreation]="creationMode" (onRestaurantUpdate)="refreshRestaurants()"></app-restaurant-form>
  </div>

  <div *ngIf="isRestaurantSelected">
    <app-horizontal-menu (onItemSelection)="selectMenuItem($event)"></app-horizontal-menu>

    <div *ngIf="menuItem === 'restaurantEdition'">
      <h3>{{selectedRestaurant.name}}</h3>
      <app-restaurant-form [restaurant]="selectedRestaurant" (onRestaurantUpdate)="refreshRestaurants()"></app-restaurant-form>
      <app-employees-form [availableUsers]="availableUsers" [restaurant]="selectedRestaurant" (onRestaurantUpdate)="refreshRestaurants()" (onUserUpdate)="refreshAllUsers()"></app-employees-form>
    </div>
    <div *ngIf="menuItem === 'graphics'">
      <app-sales-graph [restaurant]="selectedRestaurant"></app-sales-graph>
    </div>
    <div *ngIf="menuItem === 'popularity'">
      <p>Popularité & détail des votes</p>
    </div>
    <div *ngIf="menuItem === 'recipes'">
      <p>recettes : gain/perte</p>
    </div>
  </div>
</div>

<div *ngIf="showSubView === 'users'" class="users-view">
  <h2 class="custom-title">Users</h2>
  <app-users-form [availableRoles]="availableRoles" [availableUsers]="availableUsers" [currentView]="currentView" [loggedUser]="loggedUser" (onUsersUpdate)="refreshAllUsers()"></app-users-form>
</div>

<div *ngIf="showSubView === 'simulations'" class="simulations-view">
  <h2 class="custom-title">Simulations</h2>
</div>

<div *ngIf="showSubView === 'ingredients'" class="ingredients-view">
  <app-ingredients-form></app-ingredients-form>
</div>
