<div *ngIf="showSubView === 'restaurants'" class="restaurant-view">
  <app-restaurants-list [restaurants]="allRestaurants" (onRestaurantSelection)="selectRestaurant($event)"></app-restaurants-list>

  <div *ngIf="selectedRestaurant">
    <app-horizontal-menu (onItemSelection)="selectMenuItem($event)"></app-horizontal-menu>

    <div *ngIf="menuItem === 'restaurantEdition'">
      <h3>{{selectedRestaurant.name}}</h3>
      <div *ngIf="selectedRestaurant.employees.length" class="employeeList">
        <h5>Employees : </h5>
        <!-- TODO display label manager if manager -->
        <div *ngFor="let employee of selectedRestaurant.employees">
          {{employee.lastName}} {{employee.firstName}}

          <span *ngIf="employee.manager"> manager </span>

          <button>Fire </button>
          <!-- <div *ngIf="employee.id === restaurantManagers.id">
            manager
          </div> -->
        </div>
      </div>
      <app-restaurant-form [restaurant]="selectedRestaurant"></app-restaurant-form>
    </div>
    <div *ngIf="menuItem === 'graphics'">
      <p>graph historique C.A. restaurant sélectionné</p>
    </div>
    <div *ngIf="menuItem === 'popularity'">
      <p>Popularité & détail des votes</p>
    </div>
    <div *ngIf="menuItem === 'recipes'">
      <p>recettes : gain/perte</p>
    </div>
  </div>

</div>

<div *ngIf="showSubView === 'users'" class="users-view">
  <p>Edit Users</p>
  <app-user-form [availableRoles]="availableRoles" [allRestaurants]="allRestaurants"
    [notManagedRestaurant]="notManagedRestaurant" [loggedUser]="loggedUser" (onRestaurantUpdate)="refreshRestaurants()">
  </app-user-form>
</div>

<div *ngIf="showSubView === 'simulations'" class="simulations-view">
  <p>Simulations view</p>
</div>
