:host {
    display              : grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows   : 80px 1fr;
    grid-column-gap      : 10px;
    grid-template-areas  : "title title"
        "ingredients display-ingredient"
        "ingredients editIngredients";
    height     : calc(100vh - .5em);
    width      : 100%;
    align-items: center;    
}

#container {
    width: 80%;
    margin-right: auto;
    margin-left : auto;
}

.form-group {
    margin-bottom: 10px;
}

label {
    display: inline-block;
    width  : 120px;
}

.ingredients {
    grid-area  : ingredients;
    display    : flex;
    flex-flow  : column nowrap;
    height     : 100%;
    width      : 100%;
    align-items: center;
    overflow-y : auto;
    -items     : center;
}


.ingredients-list {
    display            : grid;
    height             : 50px;
    grid-template      : 1fr / 45% 25% 30%;
    grid-template-areas: "name price editIngredient";
    align-items        : flex-start;
    justify-content    : flex-start;
    width: 80%;
    max-width          : 350px;
    border-bottom: 1px solid black;
    margin             : .2em;
    padding-left       : 0.2em;
}

  .ingredients-list:last-child {
      border-bottom: none;
  }

.alert {
    background-color: rgb(212, 18, 18, 0.4);
    border          : 1px solid black;
    color           : aliceblue;
}
