<div *ngIf="showSubView === 'find'" class="find-view">
  <app-restaurant-map class="map" [restaurants]="restaurants" (onRestaurantSelection)="restaurantSelected($event)">
  </app-restaurant-map>
  <app-restaurant-list *ngIf="!displayReservationForm; else reservationForm" class="list" [restaurants]="restaurants"
    (onRestaurantSelection)="restaurantSelected($event)"></app-restaurant-list>
  <ng-template #reservationForm>
    <app-reservation-form class="list" [restaurant]="restaurant" [client]="client"></app-reservation-form>
  </ng-template>
  <app-restaurant-menu class="menu" [restaurant]="restaurant"></app-restaurant-menu>
  <app-to-table-reservation class="reservation" [restaurant]="restaurant"
    (onReservationDisplay)="toggleReservationForm()"></app-to-table-reservation>
</div>
<div *ngIf="showSubView === 'friends'" class="friends-view">
  <div class="friends-list">
    <h3>Friend's List</h3>
    <app-friends-list [client]="client" ></app-friends-list>
  </div>
  <div class="find-friends">
    <h3>Find Friends</h3>
    <app-user-finder [users]="users" [client]="client"></app-user-finder>
  </div>
</div>
<div *ngIf="showSubView === 'eat'" class="reservation-view">
  <app-reservation-list [client]="client" (onReservationSelection)="reservationSelected($event)" class="resa-select"></app-reservation-list>
  <app-choose-menu [restaurant]="restaurantReservation" class="resa-menu"></app-choose-menu>
</div>
