.find-view {
  height: 100%;
  display: grid;
  grid-template: 70% 15% 15% / 1fr 1fr 1fr;
  grid-template-areas: "map map list"
  "menu menu list"
  "menu menu reservation";
  gap: .5em .5em;
}

.map {
  grid-area: map;
}

.list {
  grid-area: list;
}

.menu {
  grid-area: menu;
}

.reservation {
  grid-area: reservation;
}
