.find-view {
  height: calc(100% - 1em);
  display: grid;
  grid-template: 70% 15% 15% / 1fr 1fr 1fr;
  grid-template-areas: "map map list"
  "menu menu list"
  "menu menu reservation";
  gap: .5em .5em;
  align-self: center;
}

.map {
  grid-area: map;
}

.list {
  grid-area: list;
}

.menu {
  grid-area: menu;
}

.reservation {
  grid-area: reservation;
}

.friends-view {
  height: 100%;
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr;
  grid-template-areas: "friends users"
  "friends users";
  gap: 0 .5em;
}

.friends-list {
  grid-area: friends;
}

.find-friends {
  grid-area: users;
}

.reservation-view {
  height: 100%;
  display: grid;
  grid-template: 70px 1fr / 1fr 1fr 1fr;
  grid-template-areas: "select . ."
  "menu bill pay";
  gap: .5em .5em;
}

.resa-select {
  grid-area: select;
}

.resa-menu {
  grid-area: menu;
}

.order {
  grid-area: bill;
}

.pay {
  grid-area: pay;
}

