<div *ngIf="showSubView === 'homePage'">
  <h3>Manager view</h3>
  <div>graphics of restaurant C.A. data</div>
  <div>Stocks alerts</div>
</div>
<div *ngIf="showSubView === 'transactions'" class="transactions-view">
  <p>Transactions view</p>
</div>
<div *ngIf="showSubView === 'recipes'" class="recipes-view">
  <p>Recipes view</p>
</div>
<div *ngIf="showSubView === 'stocks'" class="stocks-view">
  <p>Stocks view</p>
</div>
<div *ngIf="showSubView === 'employees'" class="employees-view">
  <app-employees-form ></app-employees-form>
</div>
