<div *ngIf="showSubView === 'homePage'">
  <h3>Manager view</h3>
  <div>graphics of restaurant C.A. data</div>
  <div>Stocks alerts</div>
</div>
<div *ngIf="showSubView === 'transactions'" class="transactions-view">
  <p>Transactions view</p>
</div>
<div *ngIf="showSubView === 'recipes'" class="recipes-view">
  <p>Recipes view</p>
  <app-recipes [user]="user"></app-recipes>
</div>
<div *ngIf="showSubView === 'stocks'" class="stocks-view">

<!-- <app-stocks [managerRestaurant]="managerRestaurant"></app-stocks>-->
  <app-stocks [ingredients]="ingredients" [managerRestaurant]="managerRestaurant" (refreshStockSubmited)="refreshRestaurant()"></app-stocks>
</div>
<div *ngIf="showSubView === 'employees'" class="employees-view">


  <!-- <app-employees-form [user]="user" [managerRestaurant]="managerRestaurant" ></app-employees-form> -->

  <app-employees-form [user]="user"></app-employees-form>


</div>
