<div>
  <h2>Log In</h2>
  <form [formGroup]="logGroup" (ngSubmit)="logIn()">
    <label>Last Name</label>
    <input formControlName="lastName">
    <label>Password</label>
    <input formControlName="password">
    <button>Go !!</button>
  </form>
</div>

<button (click)="toggleSignIn()">Sign In</button>
<div *ngIf="signInMode === true">
  <h2>Sign In</h2>
  <form [formGroup]="signInGroup" (ngSubmit)="signIn()">
    <label>Last Name</label>
    <input formControlName="lastName" required>
    <label>First Name</label>
    <input formControlName="firstName" required>
    <label>email</label>
    <input type="email" formControlName="email" pattern=".+@example\.com" size="30" placeholder="sophie@example.com" required>
    <label>Password</label>
    <input formControlName="password" required minlength="8">
    <label>Confirm Password</label>
    <input formControlName="password" minlength="8" required>
    <button>Submit</button>
  </form>
</div>
