.logForm {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template: 200px 0px 0px 1fr /1fr 1fr 1fr;
  grid-template-areas: ". title ."
  ". log ."
  ". switch ."
  ". form .";
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  transition: all 0.1s
}

@media all and (max-width: 700px) {
  .logForm {
    display: block;
    padding-right: 15%;
    padding-left: 15%;
    width: 70%;
  }
}

button.absolute-left {
  position: absolute;
  left: 0px;
}

button.absolute-right {
  position: absolute;
  right: 0px;

}

.logForm > h1 {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  font-size: 50px;
  background-color: black;
  color :rgba(239, 154, 154, 1);
  animation: opacityLoop 2.5s infinite;
  text-align: center;
  border-radius: 80% 40%;
}
@keyframes opacityLoop {
  /* 0% {
    color: rgba(239, 154, 154, 1);
  }
  50% {
    color: rgba(239, 154, 154, 0.8);
  }
  100% {
    color: rgba(239, 154, 154, 1);
  } */
  0% {
    color: white;
  }
  50% {
    color: red;
  }
  100% {
    color: white;
  }
}

.logForm > h2 {
  grid-area: log;
}

.logForm > form {
  grid-area: form;
  align-self: flex-start;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.logForm > form > label {
  margin: .2em .5em .0em 1.2em;
  /* color: rgba(0, 153, 229, 1); */
  font-weight: 500;
}


.logForm > form > button {
  margin: .2em .5em .5em .5em;
}

.relative {
  position: relative;
  width: 100%;
  margin-top: 15px;
}

button {
  background-color: rgba(var(--vivid-blue), 1);
}