<div *ngIf="!displaySignIn; else notRegistered" class="logForm">
  <h1>O'restO</h1>
  <form [formGroup]="logGroup" (ngSubmit)="logIn()">
    <label>Last Name</label>
    <input formControlName="lastName">
    <label>Password</label>
    <input formControlName="password">
    <div class="relative">
      <button class="absolute-left">Connection</button>
      <button class="absolute-right" (click)="toggleSignIn()">Sign In</button>
    </div>

  </form>
</div>

<ng-template #notRegistered >
  <div class="logForm">
    <h1>O'restO</h1>

    <form [formGroup]="signInGroup" (ngSubmit)="signIn()">
      <label>Last Name</label>
      <input formControlName="lastName" required>
      <label>First Name</label>
      <input formControlName="firstName" required>
      <label>email</label>
      <input type="email" formControlName="email" pattern=".+@example\.com" size="30" placeholder="sophie@example.com"
        required>
      <label>Password</label>
      <input formControlName="password" minLength="8">
      <!-- <label>Confirm Password</lab requiredel>
        <input formControlName="password" minLength="8" required> -->
        <div class="relative">
          <button class="absolute-left">Submit</button>
          <button class="absolute-right" (click)="toggleSignIn()">Back to logIn</button>
        </div>
    </form>
  </div>
</ng-template>
